#exportPattern("^[[:alpha:]]+")
export(PET)
export(Glacier_Disch)
export(Precip_model)
export(Routing_HBV)
export(SnowGlacier_HBV)
export(Soil_HBV)
export(Temp_model)
export(UH)
importFrom(Rcpp, evalCpp)
useDynLib(HBV.IANIGLA, .registration = TRUE)
